.backcontact{
    height: 50dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(
      to bottom,
      rgba(0,0,0,0) 60%,
      rgba(32, 32, 32, 0.4) 75%,
      rgba(28, 28, 28, 0.938) 90%,
      #202020 100%
     ) ,url(../images/contactuspic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contactHeader{
    color: #dedede;
    position: relative;
    display: flex;
    margin: 0;
    font-size: clamp(2.2rem, 9vw, 20rem);
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    opacity: 0.9;
    justify-content: center;
    top: 10dvh;

}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 16px 64px;
    display: grid;
    background-color: rgba(29, 29, 29, 0.103);
    position: relative;
    top: 4dvh;
}

.contact-container span{
    color: aliceblue;
    padding: 12px;   
}

.map{
    width: 100%;
    height: 70dvh;
    border: 0;
}